<%= form_for(@monitor_window, remote: true, html: {class: "form-horizontal"}) do |f| %>
    <%= render 'shared/error_messages', :subject => @monitor_window %>
    <%= field_set_tag 'Monitor Window' do %>

          <div class="row-fluid">
            <div class="span3">
              <%= f.label :name, "Name:", class: "control-label" %>
            </div>
            <div class="span3">
              <%= f.text_field :name %>
            </div>
            <div class="span3">
              <%= f.label :monitor_type, "Type:", class: "control-label" %>
            </div>
            <div class="span3">
              <%= f.enum_select :monitor_type %>
            </div>
          </div>
        <div class="row-fluid">
          <div class="span3">
            <%= f.label :x_axis_days, "Days back:", class: "control-label" %>
          </div>
          <div class="span1">
            <%= f.text_field :x_axis_days %>
          </div>
          <div class="span2">
            <%= f.check_box :x_axis_auto %><span class="check-label">&nbsp; Auto </span>
          </div>
          <div class="span3 graph-only">
            <%= f.label :y_axis_min, "Y Axis Min:", class: "control-label" %>
          </div>
          <div class="span1 graph-only">
            <%= f.text_field :y_axis_min %>
          </div>
          <div class="span2 graph-only">
            <%= f.check_box :y_axis_min_auto %><span class="check-label">&nbsp; Auto </span>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <%= f.label :background_color, "Background:", class: "control-label" %>
          </div>
          <div class="span1">
            <input id="monitor_window_background_color" name="monitor_window[background_color]" type="color" value="<%= @monitor_window.background_color %>" class="my_color" />
          </div>
          <div class="span2">
            <%= f.check_box :background_color_auto %><span class="check-label">&nbsp; Auto </span>
          </div>
          <div class="span3 graph-only">
            <%= f.label :y_axis_max, "Y Axis Max:", class: "control-label" %>
          </div>
          <div class="span1 graph-only">
            <%= f.text_field :y_axis_max %>
          </div>
          <div class="span2 graph-only">
            <%= f.check_box :y_axis_max_auto %><span class="check-label">&nbsp; Auto </span>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <%= f.label :width, "Size:", class: "control-label" %>
          </div>
          <div class="span3">
            <%= f.enum_select :width %>
          </div>
          <div class="span3"></div>
          <div class="span3 graph-only">
            <%= f.check_box :legend %><span class="check-label"> &nbsp; Legend </span>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span2">
            <%= f.check_box :public %><span class="check-label"> &nbsp; Public </span>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2"></div>
          <div class="span1">
            <%= f.label :url, "URL:", class: "control-label" %>
          </div>
          <div class="span8">
            <%= link_to "", "#", id: "linkMonitorWindowUrl", class: "link-label" %>
          </div>
        </div>
    <% end %>

    <%=  field_set_tag 'Sensors' do %>
        <table id="flexMonitorSensors" class="sensors"></table>
        <p><%= link_to "Add a sensor", "#", id: "linkNewMonitorSensor" %></p>
    <% end %>

    <%=  f.hidden_field :initial_token %>
    <%=  f.hidden_field :id %>

    <div id="dialogMonitorSensors"></div>


<% end %>
