<div class="monitor-container mw-<%= @mw_width %>" id="mwc_<%= @mw_id %>">
  <div class="monitor-title">
    <span class="monitor-title"><%= @mw_title %></span>
    <a href="/monitor_windows/<%= @mw_id %>" img="/assets/images/config.png" title="Config" class="monitor-config-link"></a>
  </div>
  <div class="monitor-window mw-<%= @mw_width %>" id="mw_<%= @mw_id %>"></div>
</div>
